<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.gif') }}">
	<script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.min.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
	integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
	crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
	integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
	crossorigin=""></script>
	<script src="https://www.w3schools.com/lib/w3.js"></script>
	<link rel="stylesheet" href="static\styles.css"/>
	<style>
	#map { height: 240px; width: 360px; }
	</style>


	<title>Websocket test</title>
</head>

<body>
	<div id="root_component">  <!--Main component-->
		<div class="container-column">
			<div>
				<table id="data_table"></table>
			</div>
		</div>
		<div class="container-column">
			<div id="map"></div>
			<div id="data_location_second">Location: -1, -1</div>
			<form id="power" method="POST" action="#">
				<input type="password" name="password" id="password_power" placeholder="Password here">
				<input id="power_button" type="submit" value="Turn on">
			</form>
		</div>
		<div class="container-column">
			<div id="log_title"></div>
			<div id="log"></div>
		</div>
	</div>

	<script src="static\js\leafmap.js" type="text/javascript" charset="utf-8"></script>
	<script src="static\js\sockets.js" type="text/javascript" charset="utf-8"></script>

</body>

</html>